@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Space+Mono&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;600&display=swap');
:root{
    --space-mono-font: 'Space Mono', monospace;
    --border-dark-subtle: #373838; 
    --font-tillana:'Tillana', cursive;
}
*{
    box-sizing: border-box;
}
body *{
    font-family: var(--space-mono-font);
}
/**
Page Design
*/
body,
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

body{
    background-color: #282A3A;
    background-image: url('/static/fsktm_bg_ori.png'); /* Update the path if needed */
    background-size: cover;
    background-position: center;
}

.content-md-lg py-3{
    position: relative;
}

.github-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.github-button:hover {
    background-color: #4CAF50;
    color: white;
}

#page_title-container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

.page-title{
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
    font-family: var(--secular-font);
    text-shadow: 0px 0px 3px #2020208c;
}

.spaced-paragraph{
    font-family: var(--space-mono-font);
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0px 0px 3px #2020208c;
}

.border-dark-subtle{
    border-color: var(--border-dark-subtle) !important;
}

.introduction-section {
    text-align: left;
    font-size: 0.9em; /* Adjust the font size as needed */
    padding: 20px; /* Adds padding around the text */
}

.image-blocks {
    display: flex;
    justify-content: space-around; /* This will space out your images evenly */
    margin-top: 20px; /* Adds space above the image blocks */
}

.image-block {
    width: 30%; /* Adjust the width as needed */
    border: 1px solid #ddd; /* Adds a border around the image block */
    padding: 10px; /* Adds padding inside the image block */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Adds a subtle shadow effect */
    text-align: center; /* Centers the text below the image */
    transition: transform 0.3s ease; /* Adds a smooth transition effect */
}

.image-block:hover {
    transform: scale(1.05); /* Slightly enlarges the block on hover */
}

.image-block img {
    width: 100%; /* Makes the image fill the block */
    height: auto; /* Keeps the image aspect ratio */
}

.image-block p {
    margin:auto; /* Adds space between the image and the text */
}

.image-block a {
    color: white;
}

/* Chatbox elements styles */
#chatbox-wrapper #chatbox-btn-wrapper{
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    border: 2px solid black;
    background: black;
    display: flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    right: 1em;
    bottom:2em;
    animation: IconAnimation 5s ease-in-out infinite;
    cursor: pointer;
    z-index: 99;
}

#chatbox-wrapper #chatbox-btn-wrapper span{
    color:#fff;

}

#chatbox-wrapper #chatbox-btn-wrapper:hover{
    animation: unset !important;
    transform:scale(1.2);
}

@keyframes IconAnimation {
    0%{
        rotate:0deg;
        transform:scale(1);
    }
    25%{
        rotate:360deg;
        transform:scale(1.2);
    }
    50%,100%{
        rotate:720deg;
        transform:scale(1);
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#chatbox-wrapper #chatbox{
    --chatbox-height:95%;
    --chatbox-width:480px;
    position: absolute;
    width: 0;
    height: 0;
    z-index: 100;
    right: 1em;
    bottom: 2em;
    overflow: hidden;
}

.chatbox-selection {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f2f2f2;
}

.chatbox-option {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chatbox-option:hover {
    background-color: #0056b3;
}

/* Chatbot Options Container Style */
.options-container {
    max-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    overflow: auto;
}

.option-button {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.option-button:hover {
    background-color: #0056b3;
}

.return-button {
    background-color: #ff3b30;
}

.return-button:hover {
    background-color: #ff1e00;
}

/* Nax Selection Style */
details {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

.room-button {
    display: block;
    text-align: center;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 5px 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.room-button:hover {
    background-color: #e0e0e0;
}

@media (max-width:480px) {
    #chatbox-wrapper #chatbox{
        --chatbox-height:100%;
        --chatbox-width:100%;
        top:0;
        left:0;
        bottom: unset;
        right: unset;
    }
}

#chatbox-wrapper #chatbox.show{
    width: var(--chatbox-width);
    height: var(--chatbox-height);
}

#chatbox-wrapper #chatbox.closing{
    width: var(--chatbox-width);
    height: var(--chatbox-height);
}

#chatbox-wrapper #chatbox .chatbox-dialog{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    transition: transform ease-in-out .5s;
}

#chatbox-wrapper #chatbox.show .chatbox-dialog{
    transform: translateY(0%);
}

#chatbox-wrapper #chatbox.closing .chatbox-dialog{
    transform: translateY(100%);
}

#chatbox-wrapper #chatbox .chatbox-header{
    flex-shrink: 1;
    padding: .5em .75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0da0f5;
    color:#fff;
}

#chatbox-wrapper #chatbox .chatbox-close{
    background: transparent;
    outline: unset;
    border: none;
    padding: 5px;
    line-height: 10px;
}

#chatbox-wrapper #chatbox .chatbox-close span{
    font-size: 10px;
    font-weight: 600;
    color:#fff;
}

#chatbox-wrapper #chatbox .chatbox-body{
    flex-grow: 1;
    padding: .5em .75em;
    height: calc(100%);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction:column-reverse;
    justify-content: end;
    align-items: center;
    background: #fff;
    color:#fff;
}
#chatbox-wrapper #chatbox .chatbox-item{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    color:#000;
}

.chatbox-item.chatbox-msg-sender,
.chatbox-item.chatbox-msg-receiver{
    animation: slideIn 0.5s forwards;
}

#chatbox-wrapper #chatbox .chatbox-item .chatbox-user-avatar{
    width: 20px;
    height: 20px;
    border: 1px solid #0da0f5;
    border-radius: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0da0f5;
    box-shadow: 1px 1px 3px #00000075;
    margin-top:.5em;
}
#chatbox-wrapper #chatbox .chatbox-item .chatbox-user-avatar span{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
#chatbox-wrapper #chatbox .chatbox-item .chatbox-item-content-wrapper{
    width: 80%;
    padding: .35em;
    position: relative;
    display: flex;
    flex-direction: column;
}
#chatbox-wrapper #chatbox .chatbox-item .chatbox-item-content{
    flex-shrink: 1;
    max-width: 100%;
    color: #363636;
    background: #dddddd;
    font-size: .8rem;
    padding: .35em;
    border-radius: .35em;
    align-self: flex-start;
}
#chatbox-wrapper #chatbox .chatbox-item.chatbox-msg-receiver{
    flex-direction: row-reverse;
    justify-content: end;
}
#chatbox-wrapper #chatbox .chatbox-item.chatbox-msg-receiver .chatbox-item-content{
    align-self: flex-end;
    background: #81cffd;
    color: #363636;
}
#chatbox-wrapper #chatbox .chatbox-item.chatbox-msg-receiver .chatbox-user-avatar{
    border-color: #cecece;
    background: #cecece;
}
#chatbox-wrapper #chatbox .chatbox-item.chatbox-msg-receiver .chatbox-user-avatar span{
    color: #363636;
}
#chatbox-wrapper #chatbox .chatbox-footer{
    flex-shrink: 1;
    padding: .35em;
    background-color: #efeeee;
    display: flex;
    width: 100%;
}
#chatbox-wrapper #chatbox .chatbox-footer .chatbox-field-wrapper{
    width: 85%;
    line-height: 12px;
}
#chatbox-wrapper #chatbox .chatbox-footer .chatbox-field-wrapper textarea{
    --chatbox-max-height: 55;
    resize: none;
    height: 32px;
    padding: 0.65em 0.35em;
    font-size: .8rem;
    width: 100%;
}
#chatbox-wrapper #chatbox .chatbox-footer .chatbox-field-wrapper textarea:focus{
    border-color:#2ea8ee;
    outline-color: #2ea8ee;
}
#chatbox-wrapper #chatbox .chatbox-footer .chatbox-btn-wrapper{
    width: 15%;
    overflow: hidden;
    padding: 0 .35em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chatbox-wrapper #chatbox .chatbox-footer .chatbox-btn-wrapper #chatbox-send-btn{
    flex-grow:1;
    width: 100%;
    height:100%;
    background-color: #0da0f5;
    padding: .35em;
    line-height: 12px;
    border: none;
}

#chatbox-wrapper #chatbox .chatbox-footer .chatbox-btn-wrapper #chatbox-send-btn span{
    font-size: .8rem;
    color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
}

.spaced-paragraph {
    margin-bottom: 20px; /* Adjust the value as needed */
}

.bottom-caption {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-width: 1px;
    color: white;
}

.bottom-caption > p {
    margin: 20px;
}